<div>
    <h1 class="title">Salas de Cine</h1>
    <a href="/rooms/create" class="button is-primary mb-4">Agregar Sala</a>
    <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Capacidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% rooms.forEach((room, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= room.name %></td>
                    <td><%= room.capacity %></td>
                    <td>
                        <a href="/rooms/edit/<%= room.id %>" class="button is-small is-info">Editar</a>
                        <a href="/rooms/delete/<%= room.id %>" class="button is-small is-danger">Eliminar</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
